* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(615deg, #dfbb6d 0%, #f5f7fa 50%);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
}

.form, input {
    display: block;
}

input {
    display: block;
    margin: 20px auto 5px;
    height: 50px;
    width: 15rem;
    border-radius: 10px;
}

button {
    margin: 2px auto;
    padding: 10px;
    font-size: large;

}

h3 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

footer {
    text-align: center;
    margin: 50px 0px 10px;
}

footer p .love {
    color: red;
    font-size: 23px;
}